<!--
  Generated template for the NeumaticoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!toEdit">Nuevo Neumatico</ion-title>
    <ion-title *ngIf="toEdit">Editar Neumatico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4>
        <ion-list>
          <ion-item>
            <ion-label>Ancho Nombre Neumatico</ion-label>
            <ion-input type="text" [(ngModel)]="tipo_neumatico.anchuNomNeu" placeholder="{{(neumatico|async)?.anchuNomNeu}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Carga del Neumatico</ion-label>
            <ion-input type="text" [(ngModel)]="tipo_neumatico.cargaNeu" placeholder="{{(neumatico|async)?.cargaNeu}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ID Configuración</ion-label>
            <ion-input type="number" [(ngModel)]="tipo_neumatico.idConfNeu" placeholder="{{(neumatico|async)?.idConfNeu}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Ancho Nombre Neumatico</ion-label>
            <ion-select [(ngModel)]="tipo_neumatico.marcaNeu" placeholder="{{(neumatico|async)?.marcaNeu}}">
              <ion-option>Michelin</ion-option>
              <ion-option>Bridgestone</ion-option>
              <ion-option>Pirelli</ion-option>
              <ion-option>Continental</ion-option>
              <ion-option>Goodyear</ion-option>
              <ion-option>Firestone</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Ratio Neumatico</ion-label>
            <ion-input type="number" [(ngModel)]="tipo_neumatico.ratioNeu" placeholder="{{(neumatico|async)?.ratioNeu}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Velocidad Neumatico</ion-label>
            <ion-input type="text" [(ngModel)]="tipo_neumatico.velocNeu" placeholder="{{(neumatico|async)?.velocNeu}}"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button block *ngIf="!toEdit" (click)="guardarNeumatico()">Guardar</button>
        <button ion-button block *ngIf="toEdit" (click)="editarNeumatico()">Editar</button>
        <button ion-button block *ngIf="toEdit" color="danger" (click)="borrarNeumatico()">Borrar</button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
